# Corpus files
*.xml

# Brat format files
*.txt
*.ann
*.map

# Preprocessed files
*.sent
*.split.sent
*.label
*.ent
*.dbid
*.pkl

# Model file
*.npz
*.npy

# GENIA tagger
corpus/semeval2013/geniatagger/

